<!DOCTYPE html>
<html lang="en" ng-app="Chatify">
  <head>
    <title>Chatify</title>
    <script src="app/assets/javascript/3p/socket.js"></script>
    <script src="app/assets/javascript/3p/angular.js"></script>
    <script src="app/assets/javascript/3p/underscore.js"></script>
    <script src="app/assets/javascript/chatify.js"></script>
    <link rel="stylesheet" href="app/assets/stylesheets/3p/bootstrap.css"></link>
    <link rel="stylesheet" href="app/assets/stylesheets/main.css"></link>
  </head>
  <body>
    <div class="container">

      <div class="messaging span8">
        <div id="messages" ng-controller="MessagesController">
          <ul>
            <li ng-repeat="message in messages">
              <blockquote>
                <span class="muted">{{message.username}}</span>
                <small>({{message.time | date}})</small>
                : {{message.text}}
              </blockquote>
            </li>
          </ul>
        </div> <!-- messages -->

        <div id="entry" ng-controller="SendController">
          <input type="text" id="text-entry" class="span5" ng-model="messageEntry" placeholder="Type a message..."></input>
          <button class="btn span2" ng-click="sendMessage()">Send</button>
        </div> <!-- entry -->
      </div> <!-- messaging -->

      <div class="listening span3" ng-controller="ListenersController">
        <h3>Current jams</h3>
        <ul>
          <li ng-repeat="listener in listeners">
            <p><strong>{{listener.username}}</strong></p>
            <span>{{listener.artist}} - {{listener.track}}</span>
          </li>
        </ul>
      </div> <!-- listening -->

    </div> <!-- container -->
  </body>
</html>