html, body {
  height: 100%;
}

#messages {
  min-height: 400px;
  max-height: 80%;
  overflow-y: auto;
}

#text-entry {
  float: left;
}

#entry {
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin-left: 0px;
}

blockquote {
  margin-bottom: 5px;
}

blockquote small {
  display: inline;
}

blockquote small:before {
  content : '';
}

h3 {
  margin-top: 0px;
}